.detail-request {
  display: flex;
  font-size: 14px;
}

.detail-request .detail-request-content {
  width: 100%;
  margin-left: 30px;
  padding-right: 10px;
  height: calc(100vh - 85px);
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-request-header button {
  margin-left: 10px;
  font-size: 14px;
}

.detail-request .detail-request-content .detail-request-header {
  border-bottom: 1px solid #e1e1e1;
  border-top-left-radius: 0;
  margin-right: -20px;
  padding-bottom: 9.5px;
  padding-top: 9px;
  background-color: #f5f6fa;
  min-height: 61px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.detail-request-body .row {
  margin-top: 15px;
}

.detail-request-body .row label::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.detail-request-body .row .col-3 input {
  border-image: none;
  background-image: none;
  color: blue;
  background-color: #f5f6fa;
  min-height: 55px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  box-shadow: none;
}

.detail-request-body .row .col-3 input:disabled {
  color: blue;
  background-color: #f5f6fa;
  min-height: 55px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: solid 2px grey;
}

.detail-request-body .row .col-3 select {
  color: blue;
  font-size: 14px;
  background-color: #f5f6fa;
  border-radius: unset;
  min-height: 55px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: solid 2px slategrey;
}

/* .detail-request-body .approver-list .row .col-md-4 {
  margin-left: 10px;
} */

.detail-request-body .list-user-dropdown {
  cursor: pointer;
  color: blue;
  background-color: #f5f6fa;
  min-height: 55px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  display: block;
  position: absolute;
  z-index: 1000;
  width: 93%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.detail-request-body .col-approver .list-user-dropdown {
  position: relative;
}

.detail-request-body .list-user-dropdown .selected-option {
  padding: 0px 10px 1px;
  display: inline-flex;
  width: 100%;
  border-bottom: solid 2px slategrey;
  padding-bottom: 5px;
}

.detail-request-body .list-user-dropdown .dropdown-options {
  display: contents;
  position: absolute;
  z-index: 1001;
  margin-top: 5px;
  border: solid 2px #ced4da;
  border-top: unset;
  color: blue;
  overflow-x: hidden;
  overflow-y: auto;
}

.detail-request-body .list-user-dropdown .dropdown-options .option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 10px 1px;
}

.detail-request-body .list-user-dropdown .dropdown-options .active {
  background-color: royalblue;
  color: white;
}
.detail-request-body .list-user-dropdown .show-dropdown {
  z-index: 2000;
}

.detail-request-body .list-user-dropdown .dropdown-options .option:hover {
  background-color: slategrey;
}

.detail-request-body .span-svg-select {
  margin-top: 15px;
  right: 12px;
  position: absolute;
}

.form-check-input:disabled {
  opacity: 1;
}

.form-check-input:disabled ~ .form-check-label {
  color: unset;
  opacity: 1;
}

.action-model .modal-header h5::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.share-modal .list-share-user-dropdown .selected-option {
  cursor: pointer;
  padding: 3px 10px;
  display: inline-flex;
  width: 100%;
  border: solid 1px slategrey;
  border-radius: 5px;
  min-height: 55px;
}

.share-modal .list-share-user-dropdown .selected-option .span-svg-select {
  margin-top: 12px;
  right: 25px;
  position: absolute;
}

.share-modal .list-share-user-dropdown .dropdown-options {
  cursor: pointer;
  display: contents;
  position: absolute;
  z-index: 1001;
  margin-top: 5px;
  border: solid 2px #ced4da;
  border-top: unset;
  color: #212529;
  overflow-x: hidden;
  overflow-y: auto;
}

.share-modal .list-share-user-dropdown .dropdown-options .option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 10px 1px;
}

.share-modal .list-share-user-dropdown .dropdown-options .active {
  background-color: royalblue;
  color: white;
}

.share-modal .list-share-user-dropdown .dropdown-options .option:hover {
  background-color: slategrey;
}
/* 
  .detail-request-body .send-to-approvers li::marker {
    visibility: hidden;
  }
  
  ::marker {
    display: none;
    visibility: hidden;
  } */

/* .detail-request-attachment input[type="file"] {
    display: none;
  } */

/* Custom file input */

/* .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Add attachments";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  } */
