#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #32373d;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    .h6{
        color: $white;
    }
    &.active{
        margin-left: -300px;
        .custom-menu{
              margin-right: -50px;
        }
        .btn{
              &.btn-primary{
                  &:before{
                      content: "\f053";
                    font-family: "FontAwesome";
                    right: 2px !important;
                  }
                  &:after{
                      display: none;
                  }
              }
          }
    }
    h1{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
        .logo{
            color: $white;
            display: block;
            padding: 10px 30px;
            background: $primary;
        }
    }
    ul.components{
        padding: 0;
    }
    ul{
      li{
          font-size: 16px;
          >ul{
              margin-left: 10px;
              li{
                  font-size: 14px;
              }
          }
          a{
              padding: 15px 30px;
              display: block;
              color: rgba(255,255,255,.6);
              border-bottom: 1px solid rgba(255,255,255,.05);
              span{
                  &.notif{
                      position: relative;
                      small{
                          position: absolute;
                          top: -3px;
                          bottom: 0;
                          right: -3px;
                          width: 12px;
                          height: 12px;
                          content: '';
                          background: red;
                          border-radius: 50%;
                          font-family: $font-primary;
                          font-size: 8px;
                      }
                  }
              }
              &:hover{
                  color: $white;
                  background: $primary;
                  border-bottom: 1px solid $primary;
              }
          }
          &.active{
              > a{
                  background: transparent;
                  color: $white;
                  &:hover{
                      background: $primary;
                      border-bottom: 1px solid $primary;
                  }
              }
          }
      }
    }
    @include media-breakpoint-down(md){
      margin-left: -300px;
      &.active {
          margin-left: 0;
      }
      .custom-menu{
          margin-right: -60px !important;
          top: 10px !important;
      }
    }
  
    .custom-menu{
          display: inline-block;
          position: absolute;
          top: 20px;
          right: 0;
          margin-right: -35px;
          @include transition(.3s);
          .btn{
              &.btn-primary{
                  background: $primary;
                  border-color: transparent;
                  position: relative;
                  color: $black;
                  width: 30px;
                  height: 30px;
                  &:after,&:before{
                      position: absolute;
                      top: 2px;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      font-family: "FontAwesome";
                      color: $white;
                  }
                  &:after{
                      content: "\f054";
                      left: 2px;
                  }
              }
          }
    }
  }