<header class="app-header" ng-controller="HeaderController">
  <nav class="{{active ? active : currentPath}}">
    <!-- When a link in the menu is clicked, we set the active variable -->
    <div class="header-nav-item">
      <a href="/home" class="home" ng-click="active='home'">Home</a>
      <a href="/employee" class="employee" ng-click="active='employee'">
        Employee
      </a>
      <a href="/driver" class="driver" ng-click="active='driver'">Driver</a>
      <a href="/request" class="request" ng-click="active='request'">Request</a>
    </div>

    <div ng-if="userLogin.isLogin" class="user-login">
      <span
        style="
          min-inline-size: fit-content;
          margin-right: 10px;
          align-self: center;
        "
        >{{userLogin.userInfo.FullName}}</span
      >
      <div
        ng-controller="LoginController"
        class="btn-logout"
        style="margin-right: 10px; align-self: center"
      >
        <button ng-click="logout()">Logout</button>
      </div>
    </div>
    <!-- <div ng-if="!userLogin.isLogin" class="userLogin">
      <button>Login</button>
    </div> -->
  </nav>
</header>
