.list-requests .list-content {
  width: 100%;
  padding: 0rem 0.5rem 1.6rem 1.6rem;
}

.list-requests .list-content .list-content-body {
  margin-top: 71px;
  height: calc(100vh - 247px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  font-size: 14px;
}

.list-requests .list-content .list-content-body .table .row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-requests .list-content .list-content-body .table .col-2 {
  padding-left: 0px;
  padding-right: 0px;
}

.list-requests .list-content .list-content-body .table .col-1 {
  padding-left: 0px;
  padding-right: 0px;
}
